*.o
*.a
*.class
.DS_Store
*.pyc
var/*
var_slave/*
dev_ssdb.conf*
*.swp
*_cpy_*
ssdb-server
tools/ssdb-dump
tools/ssdb-bench
tools/ssdb-repair
tools/leveldb-import
_pack
build_config.mk
log.txt
log_slave.txt
api/cpp/demo
api/cpp/hello-ssdb
api/cpp/test
api/cpp/html
api/php/a.php
api/php/c.php
api/java/Test.java
src/util/test_sorted_set

