ssdb-server*
ios
888*.conf
var888*
*.exe
*.o
*.a
*.out
*.class
tmp
.DS_Store
*.pyc
var/*
var_*
var_slave/*
dev_ssdb.conf*
dev_slave.conf
*.swp
*_cpy_*
*.dSYM*
ssdb-server
tools/ssdb-dump
tools/ssdb-bench
tools/ssdb-repair
tools/ssdb-migrate
tools/leveldb-import
_pack
build_config.mk
log.txt
repair.log
log_slave.txt
src/client/demo
src/client/hello-ssdb
api/cpp/SSDB_client.h
api/cpp/test
api/cpp/html
api/php/a.php
api/php/b.php
api/php/c.php
api/java/Test.java
src/util/test_sorted_set

